/* Using breakpoints, create three different sizes at which Goldi Locks mood changes. She should be sad at the largest size (desktop), okay at the middle size (tablet), and happiest at the mobile size. Have the size of the container max out at 1200px, and have it expand to 100% at mobile size. */
/* Have the size of the container max out at 1200px, and have it expand to 100% at mobile size. */
.goldi-locks {
  width:  80%;
  max-width:  1200px;
  margin: 0 auto;
  font-size: 30px;
  text-align: center;
  height: 230px;
  border: 1px solid #222;
  background: #eee;
  padding-top: 170px;
}

@media (min-width: 992px) {
  .goldi-locks .fa-frown-o {
    display: block;
  }
  .goldi-locks .fa-meh-o {
    display: none;
  }
  .goldi-locks .fa-smile-o {
    display: none;
  }
}

@media (max-width: 991px) {
  .goldi-locks .fa-frown-o {
    display: none;
  }
  .goldi-locks .fa-meh-o {
    display: block;
  }
  .goldi-locks .fa-smile-o {
    display: none;
  }
}

@media (max-width: 767px) {
  .goldi-locks .fa-frown-o {
    display: none;
  }
  .goldi-locks .fa-meh-o {
    display: none;
  }
  .goldi-locks .fa-smile-o {
    width: 100%;
    display: block;
  }
}